.form{
  display: flex;
  flex-direction: column;
}

.components{
  margin-top:10px;
}

.start{
  margin-right:5px;
}

.button{
  margin-top:10px;
  text-align: center;
  background-color: green;
  color: white;
  border: none;
  padding: 5px 5px;
}

.error{
  color:red;
}
