.list{
  width: 400px;
  word-wrap: break-word;
}
.name{
  color: blue;
  margin-right: 10px;
}

.listHeader{
  font-size: 30px;
}

.delete{
  color: red;
  margin-left: 10px;
  text-align: center;
  background-color: white;
  border: none;
  padding: 5px 5px;
}

.date{
  margin-right: 10px;
  font-style: oblique;
}
